[submodule "Assignments/03_PlayWithGANs/DragGAN2"]
	path = Assignments/03_PlayWithGANs/facegan/DragGAN2
	url = ssh://git@github.com/OpenGVLab/DragGAN.git
[submodule "Assignments/03_PlayWithGANs/face-alignment"]
	path = Assignments/03_PlayWithGANs/facegan/face_alignment/
	url = ssh://git@github.com/1adrianb/face-alignment.git
[submodule "Assignments/04_3DGS/gaussian-splatting"]
	path = Assignments/04_3DGS/gaussian-splatting
	url = ssh://git@github.com/graphdeco-inria/gaussian-splatting.git
